*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header h1{
    padding: 15px 40px;
    color: rgb(224, 24, 24);
}
.book{
    position: absolute;
    font-size: 40px;
    color: rgb(224, 24, 24);
    top: 17px;
    left: 100px;
}

a{
    color: inherit;
    text-decoration: none;
}
header ul{
    padding: 0%;
    display: inline-block;
    color: white;
}
.active1 {
    background-color: white;
    color: rgb(224, 24, 24);
}
.container {
    width: 80%;
    margin:0 auto;
}
.container:after{
    content: " ";
    display: block;
    clear: both;
}
.container1{
    background-color:rgb(224, 24, 24);
}
.container1 ul li{
    display: inline-block;
}
header ul li a {
    padding: 18px 20px;
    display: inline-block;
}
header .container1 ul li a:hover {
    background-color: white;
    color: rgb(224, 24, 24);
}
.back{
    position: absolute;
    top: 80px;
    left: 5%;
}

.container2{
    height: 55vh;
    width: 26vh;
    border:2px solid rgb(224, 24, 24);
}
.container2 li h5{
    padding: 1px 0;
    font-size: 20px;
    border: 10px solid rgb(224, 24, 24);;
    background-color:  rgb(224, 24, 24);
    color: white;
}
.container2 li{
    padding: 1px 20px;
    color: rgb(224, 24, 24)
}

header .container2 ul li a:hover {
    background-color: rgb(224, 24, 24);
    color: white;
}
.best{
    top: 20%;
    right:40%;
    position: absolute;
}
h3{
    color: rgb(224, 24, 24);
}

h4 p{
    border-top: 1px solid rgb(224, 24, 24);
    padding: 0 ;
    text-align: center;
}
.fotobest{
    width: 30%;
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
    float: right;
    padding: 0;
    position: absolute;
    top: 22%;
    right:50%;
}
.col {
    border: 1px solid rgb(224, 24, 24);
    padding: 10px 10px ;
    margin: 30px;
}
.col p{
    color: rgb(224, 24, 24);
    font-style: italic;
    font-size: 15px;
}
.new{
    padding: 20px 0;
    text-align: center;;
}
.new h3{
    color: black;
}
.fotonew{
    padding: 10px 0;
    background-color:  rgb(224, 24, 24);
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.col1 {
    border: 1px solid white;
    padding: 10px 0 ;
    margin: 20px;

}
.col1 .des{
    border-top: 1px solid white;
    color: white;
    font-style: italic;
    font-size: 15px;
}


.colssubba{
    color: rgb(224, 24, 24);
    
}
.colssubba img{
    padding: 10px 10px ;
    margin: 20px;
}
.ssubba h4 p{
    text-align: center;
    font-size: 30px;
}
.text{
    position: absolute;
    top: 10%;
    left: 25%;
}
.text h1{
    color: rgb(224, 24, 24);
}
.text:after{
    content: " ";
    display: block;
    clear: both;
}
.textlist{
    padding-top: 20px;
    padding-left: 30px;
    text-align: left;
    font-style: normal;
}
.back1{
    position: absolute;
    top: 30px;
    left: 5%;
}

.about h3{
    text-align: center;
    font-size: 40px;
}

.text button{
    float: right;
}
.text button{
	border: none;
	background-color: rgb(224, 24, 24);;
	text-align: center;
    font-size: 20px;
    color: white;
}
.text button:hover{
	background-color:  black;
	color: white;
}

.novel{
    text-align: center;
}
.bukunovel{
    margin: 1px;
    padding: 10px 10px;
    background-color:  rgb(224, 24, 24);
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
img{
    font-style: italic;
    width: 180px; 
    height: 180px;
}
.colnovel {
    padding: 2px 20px;
    border: 5px solid white;
    background-color:  rgb(224, 24, 24);
    margin: 10px;

}
.colnovel .des{   
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 15px;
}
.contact h3{
    text-align: center;
    font-size: 40px;
}
.colnovel.des button:hover{
	background-color: rgb(46, 43, 43);
    color: white;
}

.wrapper{
	width: 600px;
	margin: auto;
}
.wrapper input[type=text], .wrapper input[type=email],textarea{
	width: 100%;
	margin-bottom: 15px;
    padding: 15px;
}
.wrapper button{
    float: right;
    padding: 0 5px;
}
.box{
	color: rgb(224, 24, 24);
}
.box:after{
	content:'';
	display: block;
	clear: both;
}
.box .col-4{
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;

}
.icon{
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 30px;
	margin: 0 auto;
}
.box .col-4 h4{
	margin: 20px;
}
.fas{
	z-index: 1;
}
.wrapper button{
    border-radius: 90px;
    padding: 10px 10px;
	border: none;
	background-color: rgb(224, 24, 24);
	text-align: center;
    font-size: 20px;
    color: white;
}
.wrapper button:hover{
	background-color: rgb(46, 43, 43);
	color: white;
}
.kirim h1{
    text-align: center;
    margin-top: 20%;
    color: rgb(224, 24, 24);
}
.kirim p{
    text-align: center;
    font-size: 30px;
    color: rgb(224, 24, 24);;
}

footer{
	padding: 15px 0;
	background-color: #333;
	color: white;
    text-align: center;
}
